@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #000000;
  background-color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}